body {
    background-color: bisque;
    text-align: center;
    font-family: "American Typewriter";
}

.header-image {
    width: 90%;
    border: 3px solid goldenrod;
}

.header-image-spinning {
    width: 25%;
    border: 3px solid goldenrod;
}

h1 {
    font-size: 3em;
    text-decoration-thickness: 10px;
    text-decoration-color: black;
    text-decoration-line: underline;
}

#country-info {
    text-align: left;
    background-color: papayawhip;
    border: 3px solid goldenrod;
    padding: 1.3em;
    margin: 2em;
}

input[type=text] {
    width: 50%;
    background-color: antiquewhite;
}

input[type=text], button {
    border: none;
    padding: 1.5em;
    margin: 1em;
    border-bottom: 3px solid goldenrod;
}

button {
    background-color: olive;
    width: 10%;
}

.countrys {
    column-count: 3;
    text-align: left;
    background-color: papayawhip;
    border: 3px solid goldenrod;
    padding: 1.3em;
    margin: 2em;

}

li {
    margin-bottom: 1em;
    font-size: 0.8em;
    list-style: none;
}

.flag-img {
    width: 30px;
    margin-right: 1em;
}

.country-name {
    font-weight: bold;
    font-size: 2em;
}

.blauw {
    color: royalblue;
}

.groen {
    color: green;
}

.rood {
    color: firebrick;
}

.geel {
    color: goldenrod;
}

.paars {
    color: rebeccapurple;
}

.overige {
    color: black;
}

@media only screen and (max-width: 900px) {

    .countrys {
        column-count: 2;
    }

    h1 {
        font-size: 5em;
    }

    .country-name {
        font-size: 1.8em;
    }
}

@media only screen and (max-width: 600px) {

    .countrys {
        column-count: 1;
    }

    h1 {
        font-size: 4em;
    }

    .country-name {
        font-size: 1.5em;
    }
}